 body, * {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.heading {
background-color: hotpink;
min-height: 100px;
min-width: 100%;
padding: 0 90px;
}
.title-heading {
    text-align: center;
    font-size: 2rem;
}
.text-heading {
    font-size: 1rem;
}

.nav-bar {
    background: hotpink;
    min-width: 100%;
    min-height: 100px;
}

.nav-ls {
    background-color: transparent;
    display: grid;
    grid-gap: 5px;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    list-style: none;
    display: -ms-flexbox;
}

.nav-l {
    min-width: 100px;
    min-height: 100px;
    background: black;
    border: solid 2px hotpink;
    color: white;
    padding: 35px 15px 15px 15px;
    display: flex;
    justify-content: center;
    align-content: center;
    border-radius: 0.345rem;
}

.tab-pane {
    display: none;
}
.tab-pane.active {
    display: block;
}
